:root {
    --sidebar: #03114f;
    --branco: #ffff;
    --cinza: #1c1b1b00;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url(/_img/background.png);
    background-size: 220vh;
    background-repeat: no-repeat;

  }
  
/* Barra lateral */

  
  .logo {
    margin-top: 20px;
    margin-left: 50px;
    color: var(--sidebar);
    font-family: Arial, Helvetica, sans-serif;
  }
  

  h3 {
    padding: 10px;
  }
  
  /* Centro */
  .sessoes {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 0px;

    box-sizing: border-box;
    border-left: 1px solid transparent;


    background-color: var(--branco);
    width: 350px;
    height: 20vh;
    margin-left: 35vh;
    margin-top: 15vh;
    border-radius: 5%;
  }
  
  .sessoes a.menu {
    display: flex;
    color: #03114f;
    padding: 50px;
    text-decoration: none;
 
  }
  h2{
    margin-left: 20px;
    margin-top: 20px;
  }

  /*Relógio*/
.clock {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 900px;
    

    font-family: Arial, sans-serif;
    font-size: 26px;
    text-align: center;

    background-color: var(--sidebar);
    color: var(--branco);
    border: 5px solid #f7f7f7;
    border-radius: 5px;
    padding: 4px 12px;
  }
  
.planejado{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 750px;
  top: 120px;
  background-color: var(--branco);
  width: 350px;
  height: 80vh;
  border-radius: 5px;


}

.planejado h3{
  color: #03114f;
  margin-left: 70px;
  margin-top: 10px;
  font-family: 'arial';
}