:root {
    --sidebar: #03114f;
    --branco: #ffff;
    --cinza: #1c1b1b00;
  }
*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/_img/background.png);
    background-size: 220vh;
    background-repeat: no-repeat;

  
  }
/* Barra lateral */
.container {
    width: 200px;
    height: 97.1vh;
    padding: 10px;

    background-color: var(--sidebar); 
  }
  
  .logo {
    margin-top: 20px;
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .sidebar {
    background-color: var(--sidebar);
    color: var(--branco);
    margin-top: 5px;
   
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a.menu {
    display: block;
    color: var(--branco);
    padding: 10px;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease all;
  }
  
  h3 {
    padding: 10px;
  }
  
/*Criando tarefa*/

.newTask{
    display: inline-block;
    flex-direction: column;
    position: absolute;
    top: 100px;
    bottom: 0px;
    margin-left: 550px;

    box-sizing: border-box;
    border-left: 1px solid transparent;
    background-color: var(--branco);
    height: 50vh;
    border-radius: 5px;
}
select{
    margin-top: 2px;
    margin-left: 8px;
    border-radius: 5px;
}

input{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    
    border-radius: 5px;
    margin-top: 200px;
    margin-left: 250px;
}
.taskName, .taskDescription{
    margin: 10px;
    width: 350px;
    font-size: 16px;
}

.taskDescription{
    height: 30vh;
    margin-top: 10px;
}

.taskDate{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10px;
    
}
.btnCriar{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;

  margin-left: 290px;
  top: 38.5vh;

  background-color: var(--sidebar);
  color: var(--branco);
  

  cursor: pointer;
}

.btnCriar:hover{
  
  background-color: var(--branco);
  color: var(--sidebar);

  margin-left: 250px;
  text-align: center;
  
}

.planejada{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 1000px;
  top: 100px;
  background-color: var(--branco);
  width: 450px;
  height: 80vh;
  border-radius: 5px;


}

.planejada h3{
  color: #03114f;
  margin-left: 70px;
  margin-top: 10px;
  font-family: 'arial';
}
.opcao1{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 10px;
  top: 22.5vh;
  
  cursor: pointer;
}
label {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 30px;
  top: 45vh;
  font-size: 20px;
  color: var(--sidebar);
  font-family: 'arial';
}