:root {
    --sidebar: #03114f;
    --branco: #ffff;
    --cinza: #1c1b1b00;
  }
*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(_img/background.png);
    background-size: 220vh;
    background-repeat: no-repeat;

  
  }
/* Barra lateral */
 
  .logo {
    margin-top: 20px;
    margin-left: 50px;
    color: var(--sidebar);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  
 
  h3 {
    padding: 10px;
  }
  
/*Criando tarefa*/

.newTask{
    display: inline-block;
    flex-direction: column;
    position: absolute;
    top: 15vh;
    bottom: 0px;
    margin-left: 35vh;

    box-sizing: border-box;
    border-left: 1px solid transparent;
    background-color: var(--branco);
    height: 20vh;
    border-radius: 5%;
}
select{
    margin-top: 2px;
    margin-left: 8px;
    border-radius: 5px;
}

input{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    
    border-radius: 5px;
    margin-top: 200px;
    margin-left: 250px;
}
.taskName{
    margin: 10px;
    width: 350px;
    font-size: 16px;
}


.taskDate{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10px;
    
}
.btnCriar{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;

  margin-left: 300px;
  margin-top: 5px;

  background-color: var(--sidebar);
  color: var(--branco);
  
  

  cursor: pointer;
}

.btnCriar:hover{
  
  background-color: var(--branco);
  color: var(--sidebar);
  margin-left: 300px;
  
}

.planejada{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 750px;
  top: 120px;
  background-color: var(--branco);
  width: 350px;
  height: 80vh;
  border-radius: 5px;
 
}

.planejada h3{
  color: #03114f;
  margin-left: 70px;
  margin-top: 10px;
  font-family: 'arial';
}

p{
   margin-left: 750px;
  top: 100px;
  color: black;
  font-size: 20px;

}

